
@{
    ViewBag.Title = "UserHomePage";
    Layout = "~/Views/Shared/UserHomeView.cshtml";
}


@model BakPisir.DTO.ModelforList.RecipeListModel

<div class="container " id="listRecipe">
    @if (Model.Items.Count % 3 == 0)
    {
        for (int i = 0; i < Model.Items.Count; i = i + 3)
        {
            <div class="row">
                <div class="col-md-6 col-lg-4 mb-3">
                    <div class="card h-100">
                        <img class="card-img-top" src="http://localhost:44355/Uploads/RecipePictures/@Model.Items[i].recipeImageUrl" alt="Card image cap" height="300" weight="700" />
                        <div class="card-body">
                            <h4 class="card-title"> @Html.DisplayFor(model => model.Items[i].recipeName) </h4>
                            <h6>@Html.DisplayNameFor(model => model.Items[i].cookingTime):@Html.DisplayFor(model => model.Items[i].cookingTime)</h6>
                            <p class="card-text">
                                @Html.DisplayNameFor(model => model.Items[i].ingredients): @Html.DisplayFor(model => model.Items[i].ingredients)
                            </p>
                            <a href="javascript:void(0)" class="btn btn-outline-primary">Tarifi Dene</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 mb-3">
                    <div class="card h-100">
                        <img class="card-img-top" src="http://localhost:44355/Uploads/RecipePictures/@Model.Items[i+1].recipeImageUrl" alt="Card image cap" height="300" weight="700" />
                        <div class="card-body">
                            <h4 class="card-title"> @Html.DisplayFor(model => model.Items[i + 1].recipeName) </h4>
                            <h6>@Html.DisplayNameFor(model => model.Items[i + 1].cookingTime):@Html.DisplayFor(model => model.Items[i + 1].cookingTime)</h6>
                            <p class="card-text">
                                @Html.DisplayNameFor(model => model.Items[i + 1].ingredients): @Html.DisplayFor(model => model.Items[i + 1].ingredients)
                            </p>
                            <a href="javascript:void(0)" class="btn btn-outline-primary">Tarifi Dene</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 mb-3">
                    <div class="card h-100">
                        <img class="card-img-top" src="http://localhost:44355/Uploads/RecipePictures/@Model.Items[i+2].recipeImageUrl" alt="Card image cap" height="300" weight="700" />
                        <div class="card-body">
                            <h4 class="card-title"> @Html.DisplayFor(model => model.Items[i + 2].recipeName) </h4>
                            <h6>@Html.DisplayNameFor(model => model.Items[i + 2].cookingTime):@Html.DisplayFor(model => model.Items[i + 2].cookingTime)</h6>

                            <p class="card-text">
                                @Html.DisplayNameFor(model => model.Items[i + 2].ingredients): @Html.DisplayFor(model => model.Items[i + 2].ingredients)
                            </p>
                            <a href="javascript:void(0)" class="btn btn-outline-primary">Tarifi Dene</a>
                        </div>
                    </div>
                </div>

            </div>

        }
    }

    @if ((Model.Items.Count % 3) == 1)
    {
        for (int i = 0; i < (Model.Items.Count - 1); i = i + 3)
        {
            <div class="row">
                <div class="col-md-6 col-lg-4 mb-3">
                    <div class="card h-100">
                        <img class="card-img-top" src="http://localhost:44355/Uploads/RecipePictures/@Model.Items[i].recipeImageUrl" alt="Card image cap" height="300" weight="700" />
                        <div class="card-body">
                            <h4 class="card-title"> @Html.DisplayFor(model => model.Items[i].recipeName) </h4>
                            <h6>@Html.DisplayNameFor(model => model.Items[i].cookingTime):@Html.DisplayFor(model => model.Items[i].cookingTime)</h6>
                            <p class="card-text">
                                @Html.DisplayNameFor(model => model.Items[i].ingredients): @Html.DisplayFor(model => model.Items[i].ingredients)
                            </p>
                            <a href="javascript:void(0)" class="btn btn-outline-primary">Tarifi Dene</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 mb-3">
                    <div class="card h-100">
                        <img class="card-img-top" src="http://localhost:44355/Uploads/RecipePictures/@Model.Items[i+1].recipeImageUrl" alt="Card image cap" height="300" weight="700" />
                        <div class="card-body">
                            <h4 class="card-title"> @Html.DisplayFor(model => model.Items[i + 1].recipeName) </h4>
                            <h6>@Html.DisplayNameFor(model => model.Items[i + 1].cookingTime):@Html.DisplayFor(model => model.Items[i + 1].cookingTime)</h6>
                            <p class="card-text">
                                @Html.DisplayNameFor(model => model.Items[i + 1].ingredients): @Html.DisplayFor(model => model.Items[i + 1].ingredients)
                            </p>
                            <a href="javascript:void(0)" class="btn btn-outline-primary">Tarifi Dene</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 mb-3">
                    <div class="card h-100">
                        <img class="card-img-top" src="http://localhost:44355/Uploads/RecipePictures/@Model.Items[i+2].recipeImageUrl" alt="Card image cap" height="300" weight="700" />
                        <div class="card-body">
                            <h4 class="card-title"> @Html.DisplayFor(model => model.Items[i + 2].recipeName) </h4>
                            <h6>@Html.DisplayNameFor(model => model.Items[i + 2].cookingTime):@Html.DisplayFor(model => model.Items[i + 2].cookingTime)</h6>

                            <p class="card-text">
                                @Html.DisplayNameFor(model => model.Items[i + 2].ingredients): @Html.DisplayFor(model => model.Items[i + 2].ingredients)
                            </p>
                            <a href="javascript:void(0)" class="btn btn-outline-primary">Tarifi Dene</a>
                        </div>
                    </div>
                </div>

            </div>

        }
        <div class="col-md-6 col-lg-4 mb-3">
            <div class="card h-100">
                <img class="card-img-top" src="http://localhost:44355/Uploads/RecipePictures/@Model.Items[(Model.Items.Count) - 1].recipeImageUrl" alt="Card image cap" height="300" weight="700" />
                <div class="card-body">
                    <h4 class="card-title"> @Html.DisplayFor(model => model.Items[(Model.Items.Count) - 1].recipeName) </h4>
                    <h6>@Html.DisplayNameFor(model => model.Items[(Model.Items.Count) - 1].cookingTime):@Html.DisplayFor(model => model.Items[(Model.Items.Count) - 1].cookingTime)</h6>

                    <p class="card-text">
                        @Html.DisplayNameFor(model => model.Items[(Model.Items.Count) - 1].ingredients): @Html.DisplayFor(model => model.Items[(Model.Items.Count) - 1].ingredients)
                    </p>
                    <a href="javascript:void(0)" class="btn btn-outline-primary">Tarifi Dene</a>
                </div>
            </div>
        </div>
    }

    @if ((Model.Items.Count % 3) == 2)
    {
        for (int i = 0; i < (Model.Items.Count - 2); i = i + 3)
        {
            <div class="row">
                <div class="col-md-6 col-lg-4 mb-3">
                    <div class="card h-100">
                        <img class="card-img-top" src="http://localhost:44355/Uploads/RecipePictures/@Model.Items[i].recipeImageUrl" alt="Card image cap" height="300" weight="700" />
                        <div class="card-body">
                            <h4 class="card-title"> @Html.DisplayFor(model => model.Items[i].recipeName) </h4>
                            <h6>@Html.DisplayNameFor(model => model.Items[i].cookingTime):@Html.DisplayFor(model => model.Items[i].cookingTime)</h6>
                            <p class="card-text">
                                @Html.DisplayNameFor(model => model.Items[i].ingredients): @Html.DisplayFor(model => model.Items[i].ingredients)
                            </p>
                            <a href="javascript:void(0)" class="btn btn-outline-primary">Tarifi Dene</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 mb-3">
                    <div class="card h-100">
                        <img class="card-img-top" src="http://localhost:44355/Uploads/RecipePictures/@Model.Items[i+1].recipeImageUrl" alt="Card image cap" height="300" weight="700" />
                        <div class="card-body">
                            <h4 class="card-title"> @Html.DisplayFor(model => model.Items[i + 1].recipeName) </h4>
                            <h6>@Html.DisplayNameFor(model => model.Items[i + 1].cookingTime):@Html.DisplayFor(model => model.Items[i + 1].cookingTime)</h6>
                            <p class="card-text">
                                @Html.DisplayNameFor(model => model.Items[i + 1].ingredients): @Html.DisplayFor(model => model.Items[i + 1].ingredients)
                            </p>
                            <a href="javascript:void(0)" class="btn btn-outline-primary">Tarifi Dene</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 mb-3">
                    <div class="card h-100">
                        <img class="card-img-top" src="http://localhost:44355/Uploads/RecipePictures/@Model.Items[i+2].recipeImageUrl" alt="Card image cap" height="300" weight="700" />
                        <div class="card-body">
                            <h4 class="card-title"> @Html.DisplayFor(model => model.Items[i + 2].recipeName) </h4>
                            <h6>@Html.DisplayNameFor(model => model.Items[i + 2].cookingTime):@Html.DisplayFor(model => model.Items[i + 2].cookingTime)</h6>

                            <p class="card-text">
                                @Html.DisplayNameFor(model => model.Items[i + 2].ingredients): @Html.DisplayFor(model => model.Items[i + 2].ingredients)
                            </p>
                            <a href="javascript:void(0)" class="btn btn-outline-primary">Tarifi Dene</a>
                        </div>
                    </div>
                </div>

            </div>

        }

        <div class="row">
            <div class="col-md-6 col-lg-4 mb-3">
                <div class="card h-100">
                    <img class="card-img-top" src="http://localhost:44355/Uploads/RecipePictures/@Model.Items[(Model.Items.Count) - 1].recipeImageUrl" alt="Card image cap" height="300" weight="700" />
                    <div class="card-body">
                        <h4 class="card-title"> @Html.DisplayFor(model => model.Items[(Model.Items.Count) - 1].recipeName) </h4>
                        <h6>@Html.DisplayNameFor(model => model.Items[(Model.Items.Count) - 1].cookingTime):@Html.DisplayFor(model => model.Items[(Model.Items.Count) - 1].cookingTime)</h6>

                        <p class="card-text">
                            @Html.DisplayNameFor(model => model.Items[(Model.Items.Count) - 1].ingredients): @Html.DisplayFor(model => model.Items[(Model.Items.Count) - 1].ingredients)
                        </p>
                        <a href="javascript:void(0)" class="btn btn-outline-primary">Tarifi Dene</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3">
                <div class="card h-100">
                    <img class="card-img-top" src="http://localhost:44355/Uploads/RecipePictures/@Model.Items[(Model.Items.Count) - 2].recipeImageUrl" alt="Card image cap" height="300" weight="700" />
                    <div class="card-body">
                        <h4 class="card-title"> @Html.DisplayFor(model => model.Items[(Model.Items.Count) - 2].recipeName) </h4>
                        <h6>@Html.DisplayNameFor(model => model.Items[(Model.Items.Count) - 2].cookingTime):@Html.DisplayFor(model => model.Items[(Model.Items.Count) - 2].cookingTime)</h6>

                        <p class="card-text">
                            @Html.DisplayNameFor(model => model.Items[(Model.Items.Count) - 2].ingredients): @Html.DisplayFor(model => model.Items[(Model.Items.Count) - 2].ingredients)
                        </p>
                        <a href="javascript:void(0)" class="btn btn-outline-primary">Tarifi Dene</a>
                    </div>
                </div>
            </div>
        </div>
    }

    <!-- Basic Pagination -->
    <nav aria-label="Page navigation" class="d-flex justify-content-center align-items-center mt-4 ">
        <ul class="pagination position-absolute ">

            <li class="page-item first">
                <a class="page-link">
                    <i class="tf-icon bx bx-chevrons-left">ÖNCEKİ</i>
                </a>
            </li>

            @for (int i = 1; i <= 3; i++)
            {
                <li class="page-item">
                    <a class="page-link" onclick="getNextRecipe(@i)">@i</a>
                </li>
            }

            <li class="page-item last">
                <a class="page-link">
                    <i class="tf-icon bx bx-chevrons-right">SONRAKİ</i>
                </a>
            </li>

        </ul>
    </nav>

    
</div>




@*onclick="SetPageNumber(@i) fonksiyonu ile bu script çalışır. Sayfalama kısmında seçili olan sayfa numarasına göre  UserHomePage Controller altındaki
    SetPageNumber(int id) fonksiyonunu tetikler
    Sorgu sonucunda gelen datayı Jquery ile UserHomePage.cshtml'de bulunana listRecipe id'li container içine datayı dinamik olarak yerleştirir.
    Bu sırada sayfanın tamamı yenilenmez.*@


<script>
    function getNextRecipe(number) {
        $.ajax({
            url: '@Url.Action("getNextRecipe", "UserHomePage")/' + number,
            datatype: 'JSON',
            type: 'GET',
            success: function (data) {
                var $myHtml = $('<div>');
             if (data.Items.length % 3 == 0) {
                    for ( i = 0; i < data.Items.length; i=i+3){
                        $myHtml.append('<div class="row">\
                                <div class="col-md-6 col-lg-4 mb-3">\
                                    <div class="card h-100">\
                                  <img class="card-img-top" src="http://localhost:44355/Uploads/RecipePictures/'+ data.Items[i].recipeImageUrl+'" alt="Card image cap" height="300" weight="700" />\
                                     <div class="card-body">\
                                         <h4 class="card-title">' + data.Items[i].recipeName + '</h4>\
                                          <h6>Pişirme Süresi:' + data.Items[i].cookingTime + '</h6>\
                                                 <p class="card-text">İçindekiler:' + data.Items[i].ingredients + '</p>\
                                                 <a href="javascript:void(0)" class="btn btn-outline-primary">Tarifi Dene</a></div></div></div>\
                                 <div class="col-md-6 col-lg-4 mb-3">\
                                    <div class="card h-100">\
                                  <img class="card-img-top" src="http://localhost:44355/Uploads/RecipePictures/'+ data.Items[i+1].recipeImageUrl +'" alt="Card image cap" height="300" weight="700" />\
                                     <div class="card-body">\
                                         <h4 class="card-title">' + data.Items[i + 1].recipeName + '</h4>\
                                          <h6>Pişirme Süresi:' + data.Items[i + 1].cookingTime + '</h6>\
                                                 <p class="card-text">İçindekiler:' + data.Items[i + 1].ingredients + '</p>\
                                                 <a href="javascript:void(0)" class="btn btn-outline-primary">Tarifi Dene</a></div></div></div>\
                                  <div class="col-md-6 col-lg-4 mb-3">\
                                   <div class="card h-100">\
                                  <img class="card-img-top" src="http://localhost:44355/Uploads/RecipePictures/'+ data.Items[i+2].recipeImageUrl +'" alt="Card image cap" height="300" weight="700" />\
                                <div class="card-body">\
                                 <h4 class="card-title">' + data.Items[i + 2].recipeName + ' </h4>\
                                  <h6>Pişirme Süresi:' + data.Items[i + 2].cookingTime + '</h6>\
                                    <p class="card-text">İçindekiler:' + data.Items[i + 2].ingredients + '</p>\
                                         <a href="javascript:void(0)" class="btn btn-outline-primary">Tarifi Dene</a></div></div></div></div>')
                     }
                }
             if (data.Items.length % 3 == 1) {
                    for (i = 0; i < (data.Items.length-1); i = i + 3) {
                        $myHtml.append('<div class="row">\
                                <div class="col-md-6 col-lg-4 mb-3">\
                                    <div class="card h-100">\
                                  <img class="card-img-top" src="http://localhost:44355/Uploads/RecipePictures/'+ data.Items[i].recipeImageUrl +'" alt="Card image cap" height="300" weight="700" />\
                                     <div class="card-body">\
                                         <h4 class="card-title">' + data.Items[i].recipeName + '</h4>\
                                          <h6>Pişirme Süresi:' + data.Items[i].cookingTime + '</h6>\
                                                 <p class="card-text">İçindekiler:' + data.Items[i].ingredients + '</p>\
                                                 <a href="javascript:void(0)" class="btn btn-outline-primary">Tarifi Dene</a></div></div></div>\
                                 <div class="col-md-6 col-lg-4 mb-3">\
                                    <div class="card h-100">\
                                  <img class="card-img-top" src="http://localhost:44355/Uploads/RecipePictures/'+ data.Items[i+1].recipeImageUrl +'" alt="Card image cap" height="300" weight="700" />\
                                     <div class="card-body">\
                                         <h4 class="card-title">' + data.Items[i+1].recipeName + '</h4>\
                                          <h6>Pişirme Süresi:' + data.Items[i+1].cookingTime + '</h6>\
                                                 <p class="card-text">İçindekiler:' + data.Items[i+1].ingredients + '</p>\
                                                 <a href="javascript:void(0)" class="btn btn-outline-primary">Tarifi Dene</a></div></div></div>\
                                  <div class="col-md-6 col-lg-4 mb-3">\
                                   <div class="card h-100">\
                                  <img class="card-img-top" src="http://localhost:44355/Uploads/RecipePictures/'+ data.Items[i+2].recipeImageUrl +'" alt="Card image cap" height="300" weight="700" />\
                                <div class="card-body">\
                                 <h4 class="card-title">' + data.Items[i + 2].recipeName + ' </h4>\
                                  <h6>Pişirme Süresi:' + data.Items[i + 2].cookingTime + '</h6>\
                                    <p class="card-text">İçindekiler:' + data.Items[i + 2].ingredients + '</p>\
                                         <a href="javascript:void(0)" class="btn btn-outline-primary">Tarifi Dene</a></div></div></div></div>')
                    }
                    $myHtml.append('<div class="col-md-6 col-lg-4 mb-3" >\
                            <div class="card h-100">\
                                <img class="card-img-top" src="http://localhost:44355/Uploads/RecipePictures/'+ data.Items[(data.Items.length)-1].recipeImageUrl +'" alt="Card image cap" height="300" weight="700" />\
                                        <div class="card-body">\
                                        <h4 class="card-title">' + data.Items[(data.Items.length)-1].recipeName + '</h4>\
                                             <h6>Pişirme Süresi:' + data.Items[(data.Items.length)-1].cookingTime + '</h6>\
                                              <p class="card-text">İçindekiler:' + data.Items[(data.Items.length)-1].ingredients + '</p>\
                                                 <a href="javascript:void(0)" class="btn btn-outline-primary">Tarifi Dene</a></div></div></div>')

                }
             if (data.Items.length % 3 == 2) {
                    for (i = 0; i <(data.Items.length-2); i = i + 3) {
                        $myHtml.append('<div class="row">\
                                <div class="col-md-6 col-lg-4 mb-3">\
                                    <div class="card h-100">\
                                  <img class="card-img-top" src="http://localhost:44355/Uploads/RecipePictures/'+ data.Items[i].recipeImageUrl +'" alt="Card image cap" height="300" weight="700" />\
                                     <div class="card-body">\
                                         <h4 class="card-title">' + data.Items[i].recipeName + '</h4>\
                                          <h6>Pişirme Süresi:' + data.Items[i].cookingTime + '</h6>\
                                                 <p class="card-text">İçindekiler:' + data.Items[i].ingredients + '</p>\
                                                 <a href="javascript:void(0)" class="btn btn-outline-primary">Tarifi Dene</a></div></div></div>\
                                 <div class="col-md-6 col-lg-4 mb-3">\
                                    <div class="card h-100">\
                                  <img class="card-img-top" src="http://localhost:44355/Uploads/RecipePictures/'+ data.Items[i+1].recipeImageUrl +'" alt="Card image cap" height="300" weight="700" />\
                                     <div class="card-body">\
                                         <h4 class="card-title">' + data.Items[i + 1].recipeName + '</h4>\
                                          <h6>Pişirme Süresi:' + data.Items[i + 1].cookingTime + '</h6>\
                                                 <p class="card-text">İçindekiler:' + data.Items[i + 1].ingredients + '</p>\
                                                 <a href="javascript:void(0)" class="btn btn-outline-primary">Tarifi Dene</a></div></div></div>\
                                  <div class="col-md-6 col-lg-4 mb-3">\
                                   <div class="card h-100">\
                                  <img class="card-img-top" src="http://localhost:44355/Uploads/RecipePictures/'+ data.Items[i+2].recipeImageUrl +'" alt="Card image cap" height="300" weight="700" />\
                                <div class="card-body">\
                                 <h4 class="card-title">' + data.Items[i + 2].recipeName + ' </h4>\
                                  <h6>Pişirme Süresi:' + data.Items[i + 2].cookingTime + '</h6>\
                                    <p class="card-text">İçindekiler:' + data.Items[i + 2].ingredients + '</p>\
                                         <a href="javascript:void(0)" class="btn btn-outline-primary">Tarifi Dene</a></div></div></div></div>')
                    }
                    $myHtml.append('<div class="row">\
                                        <div class="col-md-6 col-lg-4 mb-3" >\
                                         <div class="card h-100">\
                                             <img class="card-img-top" src="http://localhost:44355/Uploads/RecipePictures/'+ data.Items[(data.Items.length) - 1].recipeImageUrl +'" alt="Card image cap" height="300" weight="700" />\
                                        <div class="card-body">\
                                        <h4 class="card-title">' + data.Items[(data.Items.length) - 1].recipeName + '</h4>\
                                             <h6>Pişirme Süresi:' + data.Items[(data.Items.length) - 1].cookingTime + '</h6>\
                                              <p class="card-text">İçindekiler:' + data.Items[(data.Items.length) - 1].ingredients + '</p>\
                                                 <a href="javascript:void(0)" class="btn btn-outline-primary">Tarifi Dene</a></div></div></div>\
                                           <div class="col-md-6 col-lg-4 mb-3" >\
                                         <div class="card h-100">\
                                             <img class="card-img-top" src="http://localhost:44355/Uploads/RecipePictures/'+ data.Items[(data.Items.length) - 2].recipeImageUrl +'" alt="Card image cap" height="300" weight="700" />\
                                        <div class="card-body">\
                                        <h4 class="card-title">' + data.Items[(data.Items.length) - 2].recipeName + '</h4>\
                                             <h6>Pişirme Süresi:' + data.Items[(data.Items.length) - 2].cookingTime + '</h6>\
                                              <p class="card-text">İçindekiler:' + data.Items[(data.Items.length) - 2].ingredients + '</p>\
                                <a href="javascript:void(0)" class="btn btn-outline-primary">Tarifi Dene</a></div></div></div ></div>')
                }


                var $nav = $('<nav>').addClass('d-flex justify-content-center align-items-center mt-4');
                var $ul = $('<ul>').addClass('pagination position-absolute');

            
                    $('<li>').addClass('page-item first')
                        .append($('<a>').addClass('page-link')
                            .append($('<i>').addClass('tf-icon bx bx-chevrons-left').text('ÖNCEKİ')))
                        .appendTo($ul);
             

                for (i = 1; i <= 3; i++) {
                    $('<li>').addClass('page-item')
                        .append($('<a>').addClass('page-link').text(i)
                            .on('click', function () {
                                getNextRecipe($(this).text());
                            }))
                        .appendTo($ul);
                }

                    $('<li>').addClass('page-item last')
                        .append($('<a>').addClass('page-link')
                            .append($('<i>').addClass('tf-icon bx bx-chevrons-right').text('SONRAKİ')))
                        .appendTo($ul);
             

                $ul.appendTo($nav);
                $myHtml.append($nav);            


                $("#listRecipe").html($myHtml);        
                    

                $(document).ready(function () {
                    var currentPage = parseInt(data.Index);
                    var totalPages = parseInt(data.Pages);

                    $('.first a').on('click', function () {
                        if (currentPage > 1) {
                            currentPage--;
                            updatePageNumbers();
                        }
                    });

                    $('.last a').on('click', function () {
                        if (currentPage < totalPages) {
                            currentPage++;
                            updatePageNumbers();
                        }
                    });

                    $('.page-link').on('click', function () {
                        event.preventDefault();
                        currentPage = parseInt($(this).text());


                    });

                    function updatePageNumbers() {
                        $('.page-link').each(function () {
                            var pageNum = parseInt($.trim($(this).text()));
                            if (!isNaN(pageNum)) {
                                $(this).text(pageNum + currentPage - 1);
                            }
                        });
                    }
                });

             },
            error: function (response) {
                       console.log(response)

             }

             });

    }

   
</script>




<!--/ Basic Pagination -->
