
@{
    ViewBag.Title = "RecipeListByUser";
    Layout = "~/Views/Shared/UserProfileView.cshtml";
}

@model BakPisir.DTO.ModelforList.RecipeListModel


@{ Html.RenderAction("NavbarForUser", new { id = @Model.Items[0].userId });}
<div class="container " id="listRecipeForUser">
    @if (Model.Items.Count % 3 == 0)
    {
        for (int i = 0; i < Model.Items.Count; i = i + 3)
        {
            <div class="row">
                <div class="col-md-6 col-lg-4 mb-3">
                    <div class="card h-100">
                        <img class="card-img-top" src="http://localhost:44355/Uploads/RecipePictures/@Model.Items[i].recipeImageUrl" alt="Card image cap" height="200" width="700" />
                        <div class="card-body">
                            <h4 class="card-title"> @Html.DisplayFor(model => model.Items[i].recipeName) </h4>
                            <h6>@Html.DisplayNameFor(model => model.Items[i].cookingTime):@Html.DisplayFor(model => model.Items[i].cookingTime)</h6>
                            <p class="card-text">
                                @Html.DisplayNameFor(model => model.Items[i].ingredients): @Html.DisplayFor(model => model.Items[i].ingredients)
                            </p>
                            <div class="row">
                                <a style="margin-bottom:5px" href="/UserHomePage/RecipeDetail/@Html.DisplayFor(model => model.Items[i].recipeId)" class="btn btn-outline-primary">Görüntüle</a>
                                <a style="margin-bottom:5px"href="/UserProfile/UpdateRecipe/@Html.DisplayFor(model => model.Items[i].recipeId)" class="btn btn-outline-warning">Güncelle</a>
                                <a style="margin-bottom:5px" href="#" class="btn btn-outline-danger">Sil</a>
                            </div>
                           
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 mb-3">
                    <div class="card h-100">
                        <img class="card-img-top" src="http://localhost:44355/Uploads/RecipePictures/@Model.Items[i+1].recipeImageUrl" alt="Card image cap" height="200" width="700" />
                        <div class="card-body">
                            <h4 class="card-title"> @Html.DisplayFor(model => model.Items[i + 1].recipeName) </h4>
                            <h6>@Html.DisplayNameFor(model => model.Items[i + 1].cookingTime):@Html.DisplayFor(model => model.Items[i + 1].cookingTime)</h6>
                            <p class="card-text">
                                @Html.DisplayNameFor(model => model.Items[i + 1].ingredients): @Html.DisplayFor(model => model.Items[i + 1].ingredients)
                            </p>
                            <a href="/UserHomePage/RecipeDetail/@Html.DisplayFor(model => model.Items[i+1].recipeId)" class="btn btn-outline-primary">Tarifi Dene</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 mb-3">
                    <div class="card h-100">
                        <img class="card-img-top" src="http://localhost:44355/Uploads/RecipePictures/@Model.Items[i+2].recipeImageUrl" alt="Card image cap" height="200" width="700" />
                        <div class="card-body">
                            <h4 class="card-title"> @Html.DisplayFor(model => model.Items[i + 2].recipeName) </h4>
                            <h6>@Html.DisplayNameFor(model => model.Items[i + 2].cookingTime):@Html.DisplayFor(model => model.Items[i + 2].cookingTime)</h6>

                            <p class="card-text">
                                @Html.DisplayNameFor(model => model.Items[i + 2].ingredients): @Html.DisplayFor(model => model.Items[i + 2].ingredients)
                            </p>
                            <a href="/UserHomePage/RecipeDetail/@Html.DisplayFor(model => model.Items[i+2].recipeId)" class="btn btn-outline-primary">Tarifi Dene</a>
                        </div>
                    </div>
                </div>

            </div>

        }
    }

    @if ((Model.Items.Count % 3) == 1)
    {
        for (int i = 0; i < (Model.Items.Count - 1); i = i + 3)
        {
            <div class="row">
                <div class="col-md-6 col-lg-4 mb-3">
                    <div class="card h-100">
                        <img class="card-img-top" src="http://localhost:44355/Uploads/RecipePictures/@Model.Items[i].recipeImageUrl" alt="Card image cap" height="200" width="700" />
                        <div class="card-body">
                            <h4 class="card-title"> @Html.DisplayFor(model => model.Items[i].recipeName) </h4>
                            <h6>@Html.DisplayNameFor(model => model.Items[i].cookingTime):@Html.DisplayFor(model => model.Items[i].cookingTime)</h6>
                            <p class="card-text">
                                @Html.DisplayNameFor(model => model.Items[i].ingredients): @Html.DisplayFor(model => model.Items[i].ingredients)
                            </p>
                            <a href="/UserHomePage/RecipeDetail/@Html.DisplayFor(model => model.Items[i].recipeId)" class="btn btn-outline-primary">Tarifi Dene</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 mb-3">
                    <div class="card h-100">
                        <img class="card-img-top" src="http://localhost:44355/Uploads/RecipePictures/@Model.Items[i+1].recipeImageUrl" alt="Card image cap" height="200" width="700" />
                        <div class="card-body">
                            <h4 class="card-title"> @Html.DisplayFor(model => model.Items[i + 1].recipeName) </h4>
                            <h6>@Html.DisplayNameFor(model => model.Items[i + 1].cookingTime):@Html.DisplayFor(model => model.Items[i + 1].cookingTime)</h6>
                            <p class="card-text">
                                @Html.DisplayNameFor(model => model.Items[i + 1].ingredients): @Html.DisplayFor(model => model.Items[i + 1].ingredients)
                            </p>
                            <a href="/UserHomePage/RecipeDetail/@Html.DisplayFor(model => model.Items[i+1].recipeId)" class="btn btn-outline-primary">Tarifi Dene</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 mb-3">
                    <div class="card h-100">
                        <img class="card-img-top" src="http://localhost:44355/Uploads/RecipePictures/@Model.Items[i+2].recipeImageUrl" alt="Card image cap" height="200" width="700" />
                        <div class="card-body">
                            <h4 class="card-title"> @Html.DisplayFor(model => model.Items[i + 2].recipeName) </h4>
                            <h6>@Html.DisplayNameFor(model => model.Items[i + 2].cookingTime):@Html.DisplayFor(model => model.Items[i + 2].cookingTime)</h6>

                            <p class="card-text">
                                @Html.DisplayNameFor(model => model.Items[i + 2].ingredients): @Html.DisplayFor(model => model.Items[i + 2].ingredients)
                            </p>
                            <a href="/UserHomePage/RecipeDetail/@Html.DisplayFor(model => model.Items[i+2].recipeId)" class="btn btn-outline-primary">Tarifi Dene</a>
                        </div>
                    </div>
                </div>

            </div>

        }
        <div class="col-md-6 col-lg-4 mb-3">
            <div class="card h-100">
                <img class="card-img-top" src="http://localhost:44355/Uploads/RecipePictures/@Model.Items[(Model.Items.Count) - 1].recipeImageUrl" alt="Card image cap" height="200" width="700" />
                <div class="card-body">
                    <h4 class="card-title"> @Html.DisplayFor(model => model.Items[(Model.Items.Count) - 1].recipeName) </h4>
                    <h6>@Html.DisplayNameFor(model => model.Items[(Model.Items.Count) - 1].cookingTime):@Html.DisplayFor(model => model.Items[(Model.Items.Count) - 1].cookingTime)</h6>

                    <p class="card-text">
                        @Html.DisplayNameFor(model => model.Items[(Model.Items.Count) - 1].ingredients): @Html.DisplayFor(model => model.Items[(Model.Items.Count) - 1].ingredients)
                    </p>
                    <a href="/UserHomePage/RecipeDetail/@Html.DisplayFor(model => model.Items[(Model.Items.Count) - 1].recipeId)" class="btn btn-outline-primary">Tarifi Dene</a>
                </div>
            </div>
        </div>
    }

    @if ((Model.Items.Count % 3) == 2)
    {
        for (int i = 0; i < (Model.Items.Count - 2); i = i + 3)
        {
            <div class="row">
                <div class="col-md-6 col-lg-4 mb-3">
                    <div class="card h-100">
                        <img class="card-img-top" src="http://localhost:44355/Uploads/RecipePictures/@Model.Items[i].recipeImageUrl" alt="Card image cap" height="200" width="700" />
                        <div class="card-body">
                            <h4 class="card-title"> @Html.DisplayFor(model => model.Items[i].recipeName) </h4>
                            <h6>@Html.DisplayNameFor(model => model.Items[i].cookingTime):@Html.DisplayFor(model => model.Items[i].cookingTime)</h6>
                            <p class="card-text">
                                @Html.DisplayNameFor(model => model.Items[i].ingredients): @Html.DisplayFor(model => model.Items[i].ingredients)
                            </p>
                            <a href="/UserHomePage/RecipeDetail/@Html.DisplayFor(model => model.Items[i].recipeId)" class="btn btn-outline-primary">Tarifi Dene</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 mb-3">
                    <div class="card h-100">
                        <img class="card-img-top" src="http://localhost:44355/Uploads/RecipePictures/@Model.Items[i+1].recipeImageUrl" alt="Card image cap" height="200" width="700" />
                        <div class="card-body">
                            <h4 class="card-title"> @Html.DisplayFor(model => model.Items[i + 1].recipeName) </h4>
                            <h6>@Html.DisplayNameFor(model => model.Items[i + 1].cookingTime):@Html.DisplayFor(model => model.Items[i + 1].cookingTime)</h6>
                            <p class="card-text">
                                @Html.DisplayNameFor(model => model.Items[i + 1].ingredients): @Html.DisplayFor(model => model.Items[i + 1].ingredients)
                            </p>
                            <a href="/UserHomePage/RecipeDetail/@Html.DisplayFor(model => model.Items[i+1].recipeId)" class="btn btn-outline-primary">Tarifi Dene</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 mb-3">
                    <div class="card h-100">
                        <img class="card-img-top" src="http://localhost:44355/Uploads/RecipePictures/@Model.Items[i+2].recipeImageUrl" alt="Card image cap" height="200" width="700" />
                        <div class="card-body">
                            <h4 class="card-title"> @Html.DisplayFor(model => model.Items[i + 2].recipeName) </h4>
                            <h6>@Html.DisplayNameFor(model => model.Items[i + 2].cookingTime):@Html.DisplayFor(model => model.Items[i + 2].cookingTime)</h6>

                            <p class="card-text">
                                @Html.DisplayNameFor(model => model.Items[i + 2].ingredients): @Html.DisplayFor(model => model.Items[i + 2].ingredients)
                            </p>
                            <a href="/UserHomePage/RecipeDetail/@Html.DisplayFor(model => model.Items[i+2].recipeId)" class="btn btn-outline-primary">Tarifi Dene</a>
                        </div>
                    </div>
                </div>

            </div>

        }

        <div class="row">
            <div class="col-md-6 col-lg-4 mb-3">
                <div class="card h-100">
                    <img class="card-img-top" src="http://localhost:44355/Uploads/RecipePictures/@Model.Items[(Model.Items.Count) - 1].recipeImageUrl" alt="Card image cap" height="200" width="700" />
                    <div class="card-body">
                        <h4 class="card-title"> @Html.DisplayFor(model => model.Items[(Model.Items.Count) - 1].recipeName) </h4>
                        <h6>@Html.DisplayNameFor(model => model.Items[(Model.Items.Count) - 1].cookingTime):@Html.DisplayFor(model => model.Items[(Model.Items.Count) - 1].cookingTime)</h6>

                        <p class="card-text">
                            @Html.DisplayNameFor(model => model.Items[(Model.Items.Count) - 1].ingredients): @Html.DisplayFor(model => model.Items[(Model.Items.Count) - 1].ingredients)
                        </p>
                        <a href="/UserHomePage/RecipeDetail/@Html.DisplayFor(model => model.Items[(Model.Items.Count) - 1].recipeId)" class="btn btn-outline-primary">Tarifi Dene</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3">
                <div class="card h-100">
                    <img class="card-img-top" src="http://localhost:44355/Uploads/RecipePictures/@Model.Items[(Model.Items.Count) - 2].recipeImageUrl" alt="Card image cap" height="200" width="700" />
                    <div class="card-body">
                        <h4 class="card-title"> @Html.DisplayFor(model => model.Items[(Model.Items.Count) - 2].recipeName) </h4>
                        <h6>@Html.DisplayNameFor(model => model.Items[(Model.Items.Count) - 2].cookingTime):@Html.DisplayFor(model => model.Items[(Model.Items.Count) - 2].cookingTime)</h6>

                        <p class="card-text">
                            @Html.DisplayNameFor(model => model.Items[(Model.Items.Count) - 2].ingredients): @Html.DisplayFor(model => model.Items[(Model.Items.Count) - 2].ingredients)
                        </p>
                        <a href="/UserHomePage/RecipeDetail/@Html.DisplayFor(model => model.Items[(Model.Items.Count) - 2].recipeId)" class="btn btn-outline-primary">Tarifi Dene</a>
                    </div>
                </div>
            </div>
        </div>
    }

    <!-- Basic Pagination -->
    <nav aria-label="Page navigation" class="d-flex justify-content-center align-items-center mt-4 ">
        <ul class="pagination position-absolute ">

            <li class="page-item first">
                <a class="page-link">
                    <i class="tf-icon bx bx-chevrons-left">ÖNCEKİ</i>
                </a>
            </li>

            @for (int i = 1; i <= 3; i++)
            {
                <li class="page-item">
                    <a class="page-link" onclick="getNextRecipe(@i)">@i</a>
                </li>
            }

            <li class="page-item last">
                <a class="page-link">
                    <i class="tf-icon bx bx-chevrons-right">SONRAKİ</i>
                </a>
            </li>

        </ul>
    </nav>



</div>

