
@{
    ViewBag.Title = "UpdateRecipe";
    Layout = "~/Views/Shared/UserProfileView.cshtml";
}
@model BakPisir.UI.Models.RecipeStepSubCategoryModelView
@using BakPisir.CORE.Helper
<div class="col-md-12">
    <div class="card mb-4">
        <h5 class="card-header" style="color: #4a47a3">GÜNCELLE</h5>
        <div class="card-body">
            @using (Html.BeginForm("UpdateRecipe", "UserProfile", FormMethod.Post, new { enctype = "multipart/form-data", id = "updateRecipeForm" }))
            {
                <div style="margin-left:160px; ">
                    <img id="image_upload_preview" class="d-block " src="http://localhost:44355/Uploads/RecipePictures/@Model.recipeDto.recipeImageUrl" style="height:400px; width:80%"><br />
                    <div class="my-auto">
                        <input type="file" name="ImageFile" accept="image/*" id="inputFile1" />
                    </div>
                </div>

                <div class="mt-2 mb-3">
                    @(Html.TextBoxForControl(m => Model.recipeDto.recipeName, new { placeholder = "Tarif İsmi" , style = "color:black"  }))

                </div>
                <div class="row mb-3">
                    <div class="col-6">
                        @(Html.TextBoxForControl(m => Model.recipeDto.cookingTime, new { placeholder = "Pişirme Süresi", style = "color:black" }))

                    </div>
                    <div class="col-6">
                        @(Html.TextBoxForControl(m => Model.recipeDto.recipeDate, new { placeholder = "Yayınlanma Tarihi", style = "color:black" }))
                    </div>
                </div>


                <div class="mb-3">
                    <label for="defaultSelect" class="form-label" style="color: #4a47a3">KATEGORİ</label>

                    @(Html.DropDownListFor(m => Model.recipeDto.categoryId, new SelectList(ViewBag.Categories, "categoryId", "categoryName"), new { @class = "form-control", style = "color:black" }))


                </div>
                <div class="mb-3">
                    <label for="defaultSelect" class="form-label" style="color: #4a47a3">ALT KATEGORİ</label>
                    @(Html.DropDownListFor(m => Model.subCategoryDto.subCategoryId, new SelectList(ViewBag.SubCategories, "subCategoryId", "subCategoryName"), new { @class = "form-control", style = "color:black" }))

                </div>

                <div>
                    @(Html.TextAreaForControl(m =>m.recipeDto.ingredients, new { style = "width: 300px; height: 170px; color:black" }))
                </div>

                @Html.HiddenFor(m => m.recipeDto.recipeId)
                @Html.HiddenFor(m => m.recipeDto.isDelete)
                @Html.HiddenFor(m => m.recipeDto.userId)
                @Html.HiddenFor(m => m.recipeDto.recipeImageUrl)
                @Html.HiddenFor(m => m.recipeDto.recipeVideoUrl)


                for (int i = 0; i < Model.stepDto.Count; i++)
                {
                    @Html.HiddenFor(m => m.stepDto[i].stepId)
                    <div class="row mb-4 mt-3">
                        @(Html.TextBoxForControl(m => m.stepDto[i].stepName , new { style = "color:black" }))

                        <div class="col-8">
                            @(Html.TextAreaForControl(m => m.stepDto[i].stepDescription, new { style = "width: 300px; height: 170px; color:black" }))
                        </div>
                        <div class="col-3">
                            <img id="@Model.stepDto[i].stepId" class="card-img-top" src="http://localhost:44355/Uploads/StepPictures/@Model.stepDto[i].stepImageUrl" alt="Card image cap" height="180" width="700" />
                            <div class="my-auto">
                                <input type="file" id="@Model.stepDto[i].stepId" onchange="updateImage(this)" name="ImageFile" accept="image/*" />
                            </div>
                        </div>
                    </div>
                    @Html.HiddenFor(m => m.stepDto[i].recipeId)
                    @Html.HiddenFor(m => m.stepDto[i].isDelete)
                    @Html.HiddenFor(m => m.stepDto[i].stepImageUrl)

                }

                <div class="col-md-6 col-lg-4 mb-3" style="margin-left:130px; margin-top:10px">
                    <video controls style="height: 400px; width:740px;" id="image_upload_for_video">
                        <source src="http://localhost:44355/Uploads/RecipeVideos/@Model.recipeDto.recipeVideoUrl" type="audio/mp4" alt="recipe_video" />

                    </video>

                    <div class="my-auto">
                        <br />
                        <input type="file" name="ImageFile" accept="video/*" id="inputFile2" />
                    </div>
                </div>
                <button type="submit" id="save" class="btn btn-outline-warning" style="margin-left:400px">
                    <span class="d-none d-sm-block">Değişiklikleri Kaydet</span>
                </button>

            }
        </div>



    </div>
</div>

<script>
    $(function () {
        $("#updateRecipeForm").submit(function (e) {
            e.preventDefault();
            var formData = new FormData($("#updateRecipeForm")[0]);
           

            $.ajax({
                url: this.action,
                type: 'post',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    Swal.fire('İşlem Başarılı',
                        response, 'success');
                    setTimeout(function () {
                        location.reload(true);
                    }, 3000); // 3000 milisaniye = 3 saniye
                },
                error: function (response) {
                    Swal.fire('Hata', response, 'error');

                }
            });

        });
    });

</script>


<script>

        $(document).ready(function () {
            $("#inputFile1").change(function () {
                readURL(this);
            });
        });


        $(document).ready(function () {
            $("#inputFile2").change(function () {
                readURL(this);
            });
        });



        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                // ilk resim öğesi için
                if (input.id == "inputFile1") {
                    reader.onload = function (e) {
                        $('#image_upload_preview').attr('src', e.target.result);
                    }
                }

                // video öğesi için
                if (input.id == "inputFile2") {
                    reader.onload = function (e) {
                        /* $('#image_upload_for_video').attr('src', e.target.result);*/
                        $('#image_upload_for_video source').attr('src', e.target.result);
                        $('#image_upload_for_video')[0].load();
                    }
                }


                reader.readAsDataURL(input.files[0]);
            }


        }


    </script>

<script>
    function updateImage(input) {
        var stepId = input.id;
        var img = document.getElementById(stepId);
        var file = input.files[0];
        var reader = new FileReader();
        reader.onload = function (e) {
            img.src = e.target.result;
        }
        reader.readAsDataURL(file);
    }
</script>






